.default{
    background-color: #7D55C7;
    border: 1px solid #7D55C7;
    color: white;
    border-radius: 50px;
    padding: 12px 17px;
    cursor: pointer;
    font-size: 18px;
}

.disabled{
    background-color: gray;
    border: 1px solid gray;
    color: rgb(174, 174, 174);
}