.authMain {
  background-image: url("../../assets/authBackground.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  filter: blur(3px);
}

.form {
  position: absolute;
  top: 20%;
  border: 1px solid white !important;
  background-color: rgba(255, 255, 255, 0.194);
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  width: clamp(320px, 40%, 450px);
  border-radius: 8px;
  padding: 32px 14px;
  overflow: hidden;
}

.formTitle {
  color: white;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 24px;
}

.auth {
  display: flex;
  flex-direction: column;
  height: max-content;
  min-height: 150px;
}

.input {
  transition: all 1s;
  height: max-content;
  text-align: left;
  margin-bottom: 40px;
}

.input:last-child {
  margin-bottom: 0px;
}

.input div {
  margin-bottom: 6px;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.input input {
  background-color: transparent;
  border-bottom: 1px solid white;
  width: 100%;
  color: white;
  font-size: 18px;
  padding: 8px 2px;
}

.field {
  height: 50px;
  opacity: 1;
}

.none,
.none * {
  height: 0px;
  opacity: 0;
  padding: 0px;
  margin: 0px !important;
}

.formFooter {
  margin-top: 24px;
}

.formFooter .switcher {
  color: white;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 14px;
  text-align: right;
  margin-right: 0%;
  transition: all 0.3s;
}

.formFooter .switcher span {
    cursor: pointer;
  }
.formFooter button {
  width: 100%;
}

.formFooter .register {
  margin-right: 100%;
}
