.Error {
  position: absolute;
  bottom: -120px;
  left: 30px;
  background-color: red;
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 20px 40px;
  border-radius: 20px;
  animation: open 2s ease forwards;
}

@keyframes open {
  0% {
    bottom: -120px;
    opacity: 0;
  }

  90% {
    bottom: 20px;
    opacity: 0.8;
  }
  100% {
    bottom: 20px;
    opacity: 1;
  }
}

@keyframes close {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
