.Profile{
    height: calc(100% - 90px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.Profile_container{
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 40%;
}

h1{
    font-size: 50px;
}


.avatar{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
}

.login{
    font-size: 40px;
}

.settings{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 32px;

}