.card {
  height: calc(100% - 90px);

}

.img{
  position: relative;
  border-radius:10%;
}

.pokemonImg {
  max-height: 250px;
}



.card h2 {
  padding-bottom: 15px;
  color:black;
  font-size: 32px;
}

.types {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.Tabs {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 25px;
}
.tab {
  position: relative;
  color: black;
}

.tab:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -3px;
  background-color: rgba(0, 0, 0, 0.60);
  transition: all 0.3s;
}

.tab:hover::after {
  background-color: #48D0B0;
}

.tabActive::after{
  background-color: #48D0B0;
}

.content {
  overflow: auto;
  height: 50%;
}
