.App {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: var(body);
  flex-direction: column;
  padding: 50px 25px;
  height: 100vh;
}

.flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.money {
  position: absolute;
  top: 5px;
  left: 15px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
}

.itemShop {
  cursor: pointer;
}

@media (max-width: 500px) {
  .App {
    padding: 50px 14px;
    padding-bottom: 70px;
  }
}
