.containerPokedex{
    height: calc(100% - 90px);
}

.pokedexItems{
    display: flex;
    height: max-content;
    width: 100%;
    flex-wrap: wrap;
    gap: 15px;
}

.topMenu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.searchMenu{
    display: flex;
}

.changePage{
    display: flex;
    align-items: center;
}